@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    --font-default: 'Mukta Vaani', sans-serif;
}
ul.task-list {
  list-style: circle;
  padding-left: 15px;
}